[bumpversion]
current_version = 0.1.6
commit = true
tag = true

[bumpversion:file:README.md]
search = Version: `{current_version}`
replace = Version: `{new_version}`

[bumpversion:file:src/erltoken.app.src]
search = {{vsn, "{current_version}"}}
replace = {{vsn, "{new_version}"}}

[bumpversion:file:native/erltoken_nif/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
