{erl_opts, [debug_info]}.

{project_plugins, [rebar3_hex]}.

{description, "Erlang token budgeting, token limiting, and cost estimation using a Rust tiktoken NIF"}.
{licenses, ["Apache-2.0"]}.
{links, [
    {"GitHub", "https://github.com/savonarola/erltoken"}
]}.

{artifacts, ["priv/erltoken_nif.so"]}.

{pre_hooks, [
    {compile, "sh build_nif.sh"}
]}.

{eunit_opts, [verbose]}.
